@use "src/vars";

.card {
  height: vars.$sizeCard;
  width: vars.$sizeCard;
  background-color: vars.$colorDefault;
  margin: vars.$gap;

  &-img {
    height: 100%;
    width: 100%;
    transition: .2s ease-in-out;
  }

  &-img:hover {
    opacity: 0.5;
  }
}
