@use "src/vars";

.time {
  position: relative;
  height: vars.$gap;
  width: vars.$sizeGrid;
  border: 1px solid vars.$colorFirst;

  &-remain {
    position: absolute;
    height: 100%;
    background-color: vars.$colorFirst;
  }
}

@media screen and (max-height: 740px) and (min-width: 740px) {
  .time {
    position: absolute;
    transform: rotate(270deg);
    left: 52%;
  }
}
