@use 'sass:color';

$gap : 20px;
$sizeGame : 700px;
$colorDefault : rgb(255, 255, 255);
$colorDefaultAlt : color.scale($colorDefault, $blackness : 10%);
$sizeCard : calc(($sizeGame / 4) - (3 * $gap / 4));