@use 'sass:color';

$gap : min(2%, 20px);
$mediaQueryWidth : 700px;
$sizeGrid : min(100vmin, 700px);
// $sizeApp : min(100vmin, calc(700px + 2 * $gap));
$colorDefault : rgb(255, 255, 255);
$colorDefaultAlt : color.scale($colorDefault, $blackness : 10%);
$sizeCard : calc(($sizeGrid / 4) - (3 * $gap / 4));