@use 'sass:color';

$gap : min(2%, 20px);
$mediaQueryWidth : 700px;
$sizeGrid : min(100vmin, 700px);
$colorFont : rgb(255, 255, 255);
$colorFirst : orange;
$sizeCard : calc(($sizeGrid / 4) - (3 * $gap / 4));