@use "src/vars";

.board {
  height: vars.$sizeGrid;
  width: vars.$sizeGrid;
  max-width: vars.$sizeGrid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: vars.$gap;
}

.board[data-lock="yes"] {
  pointer-events: none;
}
